.Header {
    text-align: left;
    color: var(--color-accent);
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

.subtitle {
    display: none;
    margin: 12px 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: var(--color-primary-light);
}

@media screen and (min-width: 450px) {
    .Header {
        color: var(--color-primary);
    }

    .title {
        font-size: 31.25px;
        line-height: 40.62px;
    }

    .subtitle {
        display: block;
    }
}