.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

@media screen and (min-width: 450px) {
  .App {
    flex-direction: row;
  }

  .App > * {
    flex: 1;
  }
}
