@font-face {
    font-family: 'Avenir';
    src: url(fonts/avenir.ttc);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_bk.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_md.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_demi.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_bold.otf);
    font-style: normal;
    font-weight: 600;
}

html {
    font-family: 'ITC Avant Garde Gothic', sans-serif;
    font-weight: 400;
    margin: 0;
}

* {
    box-sizing: border-box;
}
