@font-face {
    font-family: 'Avenir';
    src: url(../public/assets/fonts/avenir.ttc);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(../public/assets/fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_bk.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(../public/assets/fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_md.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(../public/assets/fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_demi.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url(../public/assets/fonts/itc_avant_garde_gothic_pro/itc_avant_garde_gothic_pro_bold.otf);
    font-style: normal;
    font-weight: 600;
}

body {
  margin: 0;
  font-family: 'ITC Avant Garde Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}
